{% load static %}

<html>
	<head>
		<title>Поставить оценку - {{ user.username }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main_gym_page/assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="https://github.com/ERAalex" target="_blank">Espinosa project</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Добро пожаловать, {{ user.username }}</a></li>
								<li><a href="{% url 'logout' %}?next={% url 'start_index' %}">Выйти</a></li>
								<li><a href="{% url 'personal_account' %}">Мой кабинет</a></li>
								<li><a href="#">Информация</a></li>
								<li><a href="#">Помощь</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'course_python'%}">
											<h3>Python</h3>
											<p>Курс по основам языка Python</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Databases</h3>
											<p>Курс по базам данных</p>
										</a>
									</li>
									<li>
										<a href="{% url 'course_html'%}">
											<h3>HTML & CSS</h3>
											<p>Курс по HTML5 и работе с CSS</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Sound & Video</h3>
											<p>Работа с редакторами аудио и видео файлов</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="{% url 'logout' %}?next={% url 'start_index' %}"
										   class="button large fit">Выйти из аккаунта</a></li>
								</ul>
							</section>

					</section>


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">

										{% if result_login == 'admin' %}
										<h2><a href="#">Кабинет администратора: <br> {{result_login}}</a></h2>
										<p>просмотр работ учеников, работа с сайтом</p>

										<ul class="actions stacked">
											<li><a href="{% url 'admin_acc' %}"
												   class="button large fit">Панель администратора</a></li>
										</ul>

										{% else %}
										<h2><a href="#">Личный кабинет студента: <br> {{result_login}}</a></h2>
										<p>мы надеемся, что Вы сможете достичь значительных успехов в
										программировании</p>

										{% endif %}



									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{date_now}}</time>
										<a href="#" class="author"><span class="name">{{result_email}}</span>
											<img src="{% static 'main_gym_page/images/avatar.jpg' %}" alt="" /></a>
									</div>
								</header>
							</article>




						<!---------------- Файловый архив ---------------->
							<article class="post">

								<header>
									<div class="title">
										<h2><a href="#">Изменение статуса домашнего задания</a></h2>
										<p>Поставьте оценку</p>
									</div>
								</header>

									{% for message in messages %}
										<div class="alert alert-danger" role="alert">
											<h3><font color="green">{{message}}</font></h3>
										</div>
								    {% endfor %}


								<form method='post'  class="form-horizontal">
									{% csrf_token %}
									<input type="text" class="form-control" name="change_note" id="change_note"
											   placeholder="не зачет, не проверено  /  зачет, 5, 4, 3">

									<p><input type="submit" class="button large" value="Изменить данные"></p>
									<p><a href="{% url 'admin_acc' %}" class="button large">Вернуться
										</a></p>
								</form>




							</article>





						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>


				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{% static 'main_gym_page/images/logo.jpg' %}" alt="" /></a>
								<header>
									<h2>IT School Tecnologies</h2>
									<p>образовательный ресурс для изучения программирования</a></p>
									<p><a href="{% url 'personal_account' %}">Мой кабинет</a></p>
								</header>
							</section>


						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{% url 'course_python'%}">Python</a></h3>
												<time class="published" datetime="2015-10-20">Полный начальный курс</time>
												<a href="{% url 'course_python'%}" class="author"><img src="{% static 'main_gym_page/images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="{% url 'course_python'%}" class="image"><img src="{% static 'main_gym_page/images/pic04.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Databases</a></h3>
												<time class="published" datetime="2015-10-19">Основы баз данных</time>
												<a href="#" class="author"><img src="{% static 'main_gym_page/images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{% static 'main_gym_page/images/pic05.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{% url 'course_html'%}">HTML & CSS</a></h3>
												<time class="published" datetime="2015-10-18">Верстка страниц HTML5 и дизайн</time>
												<a href="{% url 'course_html'%}" class="author"><img src="{% static 'main_gym_page/images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="{% url 'course_html'%}" class="image"><img src="{% static 'main_gym_page/images/pic06.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Sound & Video</a></h3>
												<time class="published" datetime="2015-10-17">Работа со звуком и видео</time>
												<a href="#" class="author"><img src="{% static 'main_gym_page/images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{% static 'main_gym_page/images/pic07.jpg' %}" alt="" /></a>
										</article>

								</div>
							</section>



						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="https://stackoverflow.com/" target="_blank">StackOverflow</a></h3>
												<time class="published" datetime="2015-10-20">Самая большая база вопросов и ответов по программированию в интернете</time>
											</header>
											<a href="https://stackoverflow.com/" target="_blank" class="image"><img src="{% static 'main_gym_page/images/pic08.jpg' %}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="https://doka.guide/" target="_blank">Дока</a></h3>
												<time class="published" datetime="2015-10-15">Материалы по веб-разработке для новичков: HTML + CSS + JavaScript</time>
											</header>
											<a href="https://doka.guide/" target="_blank" class="image"><img src="{% static 'main_gym_page/images/pic09.jpg' %}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="https://tproger.ru/" target="_blank">Tproger</a></h3>
												<time class="published" datetime="2015-10-10">Газета о разработке и обо всём, что с ней связано</time>
											</header>
											<a href="https://tproger.ru/" target="_blank" class="image"><img src="{% static 'main_gym_page/images/pic10.jpg' %}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="https://www.youtube.com/watch?v=DZvNZ9l9NT4&list=PLDyJYA6aTY1lPWXBPk0gw6gR8fEtPDGKa&index=4" target="_blank">
												    Youtube канал</a></h3>
												<time class="published" datetime="2015-10-08">Подробное описание начальных вещей в Python разработке</time>
											</header>
											<a href="https://www.youtube.com/watch?v=DZvNZ9l9NT4&list=PLDyJYA6aTY1lPWXBPk0gw6gR8fEtPDGKa&index=4" target="_blank" class="image">
											    <img src="{% static 'main_gym_page/images/pic11.jpg' %}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="https://www.youtube.com/watch?v=c2QqEH2evMY" target="_blank">Языки программирования</a></h3>
												<time class="published" datetime="2015-10-06">Какой язык выбрать? С чего лучше начать свой путь в IT</time>
											</header>
											<a href="https://www.youtube.com/watch?v=c2QqEH2evMY" target="_blank" class="image"><img src="{% static 'main_gym_page/images/pic12.jpg' %}" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>



						<!-- About -->
							<section class="blurb">
								<h2>О проекте</h2>
								<p>Проект полностью образовательный и не носит в себе коммерческих целей. Главная задача
									не только научить программированию, но и привить любовь к изучению IT
									технологий.</p>
								<ul class="actions">
									<li><a href="#" class="button">Читать больше</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Espinosa Rozov A.</p>
							</section>

					</section>

			</div>


		<!-- Scripts -->
			<script src="{% static 'main_gym_page/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'main_gym_page/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'main_gym_page/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'main_gym_page/assets/js/util.js' %}"></script>
			<script src="{% static 'main_gym_page/assets/js/main.js' %}"></script>


	</body>
</html>