{% load static %}

<html>
	<head>
		<title>RESET GYM205</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/main_page/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/main_page/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h2 style="text-align:center;">СБРОС ПАРОЛЯ</h2>

								{% for message in messages %}
								<div class="alert alert-danger" role="alert">
									<p><font color="#baa910">{{message}}</font></p>
								</div>
								{% endfor %}

								 <form action="reset_passw" method="post" class="form-horizontal">
									{% csrf_token%}

									<div class="form-group">
										<label for="email">Email</label>
										<input type="text" class="form-control" name="email" id="email" placeholder="Введите почту">
									</div>
									 <p></p>

									<div class="form-group">
										<label for="verif_code">Код сброса пароля из почты</label>
										<input type="password" class="form-control" name="verif_code"
											   id="verif_code" placeholder="Введите код">
									</div>

									<div class="form-group">
										<br><label for="new_passw">Новый пароль, запомните его</label>
										<input type="password" class="form-control" name="new_passw"
											   id="new_passw" placeholder="Введите новый пароль">
									</div>


 									<p></p>

									 <br>
									<button type="submit" class="btn btn-primary">Сбросить пароль</button>
									<button type="submit" class="btn btn-primary"><a href="{% url 'start_index' %}">НАЗАД</a></button>
									<br />
									<div class="form-group">



									</div>
								</form>





							</div>
						</div>
					</header>



				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; ERA</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/main_page/assets/js/jquery.min.js"></script>
			<script src="static/main_page/assets/js/browser.min.js"></script>
			<script src="static/main_page/assets/js/breakpoints.min.js"></script>
			<script src="static/main_page/assets/js/util.js"></script>
			<script src="static/main_page/assets/js/main.js"></script>

	</body>
</html>
