{% load static %}

<html>
	<head>
		<title>RESTART PASSW GYM205</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/main_page/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/main_page/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">

								{% for message in messages %}
								<div class="alert alert-danger" role="alert">
								<p><font color="#baa910">{{message}}</font></p>
								</div>
								{% endfor %}

								 <form action="restart_pass" method="post" class="form-horizontal">
									{% csrf_token%}
									<div class="col-xs-8 col-xs-offset-4">
										<h2 style="text-align:center;">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h2>
									</div>

									<div class="form-group">
										<label for="useremail">напишите Ваш почтовый адрес</label>
										<input type="email" class="form-control" name="useremail" id="useremail"
											   placeholder="Enter email">
									</div>

									 <br>
									<button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
									<button type="submit" class="btn btn-primary">
										<a href="{% url 'start_index' %}">НАЗАД</a></button>
									<br />
									<div class="form-group">

									</div>
								</form>


							</div>
						</div>
					</header>





				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Регистрация</h2>
								<span class="image main"><img src="static/main_page/images/pic01.jpg" alt="" /></span>
								<form action="." method="post">
									  {{ user_form.as_p }}
									  {% csrf_token %}
          						<p><input type="submit" class="button button-header" value="Создать аккаунт"></p>
      							</form>

								<p>- Заполните все поля для регистрации на сайте.
									<br><br>- После регистрации сотрудник платформы проверит и активирует Ваш аккаунт
									(в течении дня) и Вы сможете пользоваться всеми возможностями.
								<br><br>- Обратите внимание на правильное заполнение!</p>

							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Войти</h2>
								<span class="image main"><img src="static/main_page/images/pic02.jpg" alt="" /></span>
								<form method="post">

									{% csrf_token %}
									{{ form.as_p }}
									<button type="submit">Войти</button>
									<br>
									<br>
									<a class="button button-header" href="{% url 'start_index' %}">Вернуться на главную страницу</a>

									</form>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="static/main_page/images/pic03.jpg" alt="" /></span>
								<p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Контакты</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Имя</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Сообщение</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Отправить сообщение" class="primary" /></li>
										<li><input type="reset" value="Сбросить" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; ERA</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/main_page/assets/js/jquery.min.js"></script>
			<script src="static/main_page/assets/js/browser.min.js"></script>
			<script src="static/main_page/assets/js/breakpoints.min.js"></script>
			<script src="static/main_page/assets/js/util.js"></script>
			<script src="static/main_page/assets/js/main.js"></script>

	</body>
</html>
